extends layout

block content
  h1 #{title}
  br
  
  #listingInfo
    h2 Selected Business Listing Info
    p
      strong Business Name:
      |  <span id='listingInfoBusinessName'>n/a</span>
      br
      strong Owner Name:
      |  <span id='listingInfoOwnerName'>n/a</span>
      br
      strong Grad Year:
      |  <span id='listingInfoGradYear'>n/a</span>
      br
      strong Contact Email:
      |  <span id='listingInfoEmail'>n/a</span>
    br
  
  #unverifiedBusinessList
    h2 Unverified Listings
    table
      thead
        th Business Name
        th Type of Business
        th Location
        th Business Description
        th Approve
        th Deny/Delete?
      tbody
    br
