extends layout

block content
  h1 #{title}
  br
  
  #listingInfo
    h2 Selected Business Listing Info
    p
      strong Business Name:
      |  <span id='listingInfoBusinessName'>N/A</span>
      br
      strong Owner Name:
      |  <span id='listingInfoOwnerName'>N/A</span>
      br
      strong Grad Year:
      |  <span id='listingInfoGradYear'>N/A</span>
      br
      strong Contact Email:
      |  <span id='listingInfoEmail'>N/A</span>
    br
  
  #unverifiedBusinessList
    h2 Unverified Listings
    table
      thead
        th Business Name
        th Type of Business
        th Location
        th Business Description
        th Approve?
        th Deny?
      tbody
    br
