extends layout

block content
  #welcome
    h1 Welcome to the SCU #{title}!
    br

  // WRAPPER1
  #wrapper
  
    // BUSINESS LISTING INFO
    #listingInfo
      h2 Selected Business Listing Info
      p
        strong Business Name:
        |  <span id='listingInfoBusinessName'>n/a</span>
        br
        strong Owner Name:
        |  <span id='listingInfoOwnerName'>n/a</span>
        br
        strong Grad Year:
        |  <span id='listingInfoGradYear'>n/a</span>
        br
        strong Contact Email:
        |  <span id='listingInfoEmail'>n/a</span>
      br
    // /BUSINESS LISTING INFO
  
    // ADD LISTING
    #addListing
      h2 Add Listing
      fieldset
        input#inputOwnerName(type='text', placeholder='Owner Name')
        input#inputOwnerEmail(type='text', placeholder='Email')
        br
        input#inputGradYear(type='text', placeholder='Grad Year')
        input#inputBusinessName(type='text', placeholder='Business Name')
        br
        input#inputLocation(type='text', placeholder='Business Location (City)')
        input#inputDescription(type='text', placeholder='Description')
        p Select Business Type: 
        select#inputBusinessType(name='types')
          option(value='Dining') Dining
          option(value='Retail') Retail
          option(value='Health Care') Manufacturing
          option(value='Entertainment') Entertainment
          option(value='Finance') Finance
          option(value='Lifestyle') Lifestyle
          option(value='Health Care') Health Care
          option(value='Education') Education
          option(value='Arts') Arts
          option(value='Non-Profit') Non-Profit
          option(value='Other') Other
        br
        br
        button#btnAddListing Add Listing
        br
        br
        br
    // /ADD LISTING
    
    // FILTER LISTINGS
    #filterListings
      h2 Filter Listings
      input#inputLocation(type='text', placeholder='Business Location (City)')
      br
      p Select Business Type:
      select#inputBusinessType(name='types')
        option(value='Dining') Dining
        option(value='Retail') Retail
        option(value='Manufacturing') Manufacturing
        option(value='Entertainment') Entertainment
        option(value='Finance') Finance
        option(value='Lifestyle') Lifestyle
        option(value='Health Care') Health Care
        option(value='Education') Education
        option(value='Arts') Arts
        option(value='Non-Profit') Non-Profit
        option(value='Other') Other
      br
      br
      button#btnFilterListings Filter Listings
      br
      br
    // /FILTER LISTINGS
  // /WRAPPER1

  // BUSINESS LIST
  #businessList
    h2 Business List
    table
      thead
        th Business Name
        th Type of Business
        th Location
        th Business Description
        th Delete?
      tbody
    br
  // /BUSINESS LIST

  // /WRAPPER2
