extends layout

block content
  h1 Welcome to the SCU #{title}!

  // WRAPPER
  #wrapper

    // BUSINESS LISTING INFO
    #listingInfo
      h2 Business Listing Info
      p
        strong Owner Name:
        |  <span id='listingInfoOwnerName'></span>
        br
        strong Grad Year:
        |  <span id='listingInfoGradYear'></span>
        br
        strong Description:
        |  <span id='listingInfoDescription'></span>
        br
        strong Location:
        |  <span id='listingInfoLocation'></span>
    // /BUSINESS LISTING INFO

    // BUSINESS LIST
    h2 Business List
    #businessList
      table
        thead
          th Business Name
          th Type of Business
          th Location
          th Business Description
          th Delete?
        tbody
    // /BUSINESS LIST

    // ADD LISTING
    h2 Add Listing
    #addListing
      fieldset
        input#inputOwnerName(type='text', placeholder='Owner Name')
        input#inputOwnerEmail(type='text', placeholder='Email')
        br
        input#inputGradYear(type='text', placeholder='Grad Year')
        input#inputBusinessName(type='text', placeholder='Business Name')
        br
        input#inputLocation(type='text', placeholder='Business Location')
        input#inputDescription(type='text', placeholder='Description')
        p Business Type: 
        select#inputBusinessType(name='types')
          option(value='Dining') Dining
          option(value='Retail') Retail
          option(value='Entertainent') Entertainment
          option(value='Finance') Finance
          option(value='Other') Other
        br
        br
        button#btnAddListing Add Listing
        p
    // /ADD LISTING
    
    // FILTER LISTINGS
    #filterListings
    h2 Search for Listings
    // /FILTER LISTINGS

  // /WRAPPER
