extends layout

block content
  h1 Welcome to the SCU #{title}!

  // Wrapper
  #wrapper

    // BUSINESS LISTING INFO
    #listingInfo
      h2 Business Listing Info
      p
        strong Owner Name:
        |  <span id='listingInfoOwnerName'></span>
        br
        strong Grad Year:
        |  <span id='listingInfoGradYear'></span>
        br
        strong Description:
        |  <span id='listingInfoDescription'></span>
        br
        strong Location:
        |  <span id='listingInfoLocation'></span>
    // /BUSINESS LISTING INFO

    // BUSINESS LIST
    h2 Business List
    #businessList
      table
        thead
          th Owner Name
          th Email
          th Delete?
        tbody
    // /BUSINESS LIST

    // ADD LISTING
    h2 Add Listing
    #addListing
      fieldset
        input#inputOwnerName(type='text', placeholder='Owner Name')
        input#inputOwnerEmail(type='text', placeholder='Email')
        br
        input#inputBusinessName(type='text', placeholder='Business Name')
        input#inputGradYear(type='text', placeholder='Grad Year')
        br
        input#inputLocation(type='text', placeholder='Business Location')
        input#inputDescription(type='text', placeholder='Description')
        br
        button#btnAddListing Add Listing
    // /ADD LISTING

  // /WRAPPER
