extends layout

block content
  input#inputPage(type='hidden', value="login")
  h1= title

    .container
      form.form-signin(action="/login", method="post")
        h2.form-signin-heading
          input.input-block-level(type="text", name="username", placeholder="Email address")
          br
          input.input-block-level(type="password", name="password", placeholder="Password")
          br
          button.btn.btn-large.btn-primary(type="submit", id="btnLogin") Sign in
          br
        span Or
        br
        button.btn.btn-large.btn-default(type="button", id="btnCreateAccount") Create Account
        br
